*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-font: "Montserrat", sans-serif;
  --primary-color: #1F2128;
}

body {
  margin: 0;
  font-optical-sizing: auto;
}

main {
  width: 100%;
  font-family: var(--primary-font);
  font-size: 0.875rem;
}

hr {
  display: block;
  border: none;
  background-color: #CDCDCD;
  height: 1px;
  margin: 10px 15px;
}

.container {
  width: 100%;
  max-width: 370px;
  margin: 0 auto;
  box-shadow: 0px 8px 15px 0 #1414141F, 0px 0px 4px 0 #1414141A;
  border: 1px solid #eeeeee;
  padding: 10px 0;
  border-radius: 6px;
  margin-top: 2rem;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 22px;
  color: var(--primary-color);
}

.card-footer {
  padding: 10px 20px;
}

.done-button {
  background-color: #FFCE22;
  width: 100%;
  padding: 11px;
  border: none;
  border-radius: 4px;
  color: var(--primary-color);
  font-family: var(--primary-font);
  cursor: pointer;
}

label:hover {
  cursor: pointer;
}

.done-button:active {
  background-color: #FFD84D;
}

/* Custom checkbox styling */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 23px;
  height: 23px;
  border: 1px solid #cdcdcd99;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
  position: relative;
  margin: 0;
}

input[type="checkbox"]:checked {
  background-color: #2469F6;
  border-color: #2469F6;
}

label:hover input[type="checkbox"]:not(:checked) {
  border-color: #BDBDBD;
}

label:hover input[type="checkbox"]:checked {
  background-color: #5087F8;
  border-color: #5087F8;
}

label:active input[type="checkbox"] {
  outline: 3px solid #246af636
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 3px;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}